html{
    width: 100vh;
}.box {
    background-color: black;
    width: 100px;
    height: 100px;
    color: white;
}
h1 {
    text-align: center;
}

.test1 {
    border: 1px solid black;
    height: 500px;
    display: flex;
    flex-direction: row;
}
.no2 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 5px;
}

.test2 {
    border: 1px solid black;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.b2 {
    align-self: center;
}
.b3 {
    align-self: flex-end;
}

.test3 {
    border: 1px solid black;
    height: 500px;
    display: flex;
    justify-content: center;
}
.box3 {
    background-color: grey;
    width: 200px;
    height: 200px;
    color: white;
}
.test3no2 {
    position: absolute;
    margin-top: 50px;
}

.test4 {
    border: 1px solid black;
    height: 500px;
    display: flex;
}
.test4no2 {
    position: absolute;
    background-color: gray;
    margin-top: 50px;
    margin-left: 50px;
}

.test5 {
    border: 1px solid black;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}
.box5 {
    background-color: grey;
    width: 300px;
    height: 150px;
    color: white;
    z-index: -1;
    order: 0;

}

.box5no2 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right:200px;
}
.box5no3 {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    right: 0;
}