body, html {
    background: #202124;
    display: contents;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
}
i {
    margin-right: 20px;
    color: #BFBFBF;
}

.nav-area {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.navbar-1 {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-family: Arial, sans-serif;
    line-height: 24px;
    font-size: 13px;
}
.navbar-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-right: 20px;
}
.nav-icon {
    margin-top: 2px;
    align-content: center;
}
.nav-item {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
.nav-item:hover {
    text-decoration: underline;
}
.main {
    text-align: center;
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 290px;
}
.logo {
    background-color: #202124;
    width: 320px;
    margin-right: 50px;
}
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-area {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box {
    width: 474px;
    height: 50px;
    border-radius: 26px;
    border: 0px;
    background: #4D5156;
    padding-left: 45px;
    padding-right: 130px;
    color: white;
    font-family: Arial, sans-serif;
}
.input-box:hover {
    background: #5f6368;
    box-shadow: none;
}
.input-box:focus {
    outline: none;
    background-color: #303134;
}
.search-icon {
    position: relative;
    left: 50px;
    height: 16px;
    font-size: 14px;
}
.icon {
    position: relative;
    display: flex;
    align-items: cneter;
    right: 110px;
    height: 24px;
    margin-top: 5px;
    font-size: 18px;
}
.button-area {
    padding-top: 11px;
    margin-right: 50px;
    display: flex;
    align-content: center;
}
.button-style {
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    /* min-width: 54px; */
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.button-style:hover {
    box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
    background-color: #303134;
    border: 1px solid #5f6368;
    color: #e8eaed;
}
.footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #171717;
    width: 100%;
    color: white;
    margin-top: 300px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
.first-line {
    padding: 15px 30px;
    border-bottom: 1px solid #313335;
}
.second-line {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 15px 20px;
}
.footer-style {
    text-decoration: none;
    color: white;
    margin: 11px;
}
.footer-style:hover {
    text-decoration: underline;
}