.navbar-toggler {
  border: none; /* 테두리 제거 */
  outline: none; /* 포커스 시 테두리 제거 */
  box-shadow: none; /* Bootstrap이 추가한 포커스 효과 제거 */
  background: transparent; /* 배경 제거 */
  padding: 0; /* 필요 시 패딩 조정 */
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
a {
  text-decoration: none;
  color: black;
}

h1 {
  color: black;
}
.main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  align-items: center;
}
